@font-face
{
	font-family:'PatrickHand';
	src:url('/bacs200/css/Fonts/PatrickHand-Regular.ttf') format('truetype');
}

p, h1, h2, h3
{
	font-family:'PatrickHand';
}

body
{
    background-color:#add8e6;
}

iframe
{
    width:70%;
    height:500px;
}